:root {
  --primary-color: #f9423a;
  --secondary-color: #a23530;
  --main-text-color: #424749;
  --sub-text-color: #6e7679;
  --background-color: #e2e4e4;
  --outline-border-color: #f1f1f2;
  --sm-text: 8px;
  --md-text: 12px;
  --lg-text: 14px;
  --xl-text: 20px;
  --size-1: 24px;
  --size-2: 32px;
  --size-3: 40px;
  --size-4: 48px;
  --size-5: 56px;
  --size-6: 64px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Open Sans',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-text-color);
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}
